div.dokuwiki a.refnotes-ref {
}

div.dokuwiki div.refnotes {
    clear: both;
    padding-left: 1em;
    margin: 1em 0 1em 0;
}

div.dokuwiki div.refnotes div.note {
    font-size: 90%;
}

div.dokuwiki div.refnotes div.smallnote {
    font-size: 70%;
}

div.dokuwiki div.refnotes a.nolink {
}

div.dokuwiki div.refnotes a.backref {
}
